<div id="modal">

</div>
<div class="kanban__board">
  <!-- <div class="container"> -->

  <div class="board__block board__block_backlog">
    <h3>Backlog</h3>
    <div class="board__block_tasks" id="backlog">

      <!-- <div class="block__card" draggable="true" id="one">
              <h4 class="block__card_title">Title 1 Lorem ipsum dolor sit amet.
                
              </h4>
              <p class="block__card_desc">Lorem ipsum 
              </p>
            </div>
            <div class="block__card" draggable="true" id="two">
              <h4 class="block__card_title">Title 2</h4>
              <p class="block__card_desc">Lorem ipsum dolor sit, 
              </p>
            </div>
            <div class="block__card" draggable="true" id="three">
              <h4 class="block__card_title">Title 3</h4>
              <p class="block__card_desc">Do you have a infinitely reconfigurable scheme
              </p>
            </div> -->
    </div>

    <button class="btn btn-outline-primary button__add-card" data-bs-toggle="modal" data-bs-target="#modal-form">
      <i>+</i> Add Card
    </button>
  </div>

  <div class="board__block board__block_ready">
    <h3>Ready</h3>
    <div class="board__block_tasks" id="ready">
    </div>
  </div>

  <div class="board__block board__block_progress">
    <h3>In Progress</h3>
    <div class="board__block_tasks" id="progress"></div>
  </div>

  <div class="board__block board__block_finished" id="finished">
    <h3>Finished</h3>
    <div class="board__block_tasks" id="finished"></div>

  </div>
</div>
<!-- </div> -->