<ul class="navbar-nav me-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">
      <img src="../img/avatar.jpg" alt="avatar">
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-user="tasks" href="#tasks">Tasks</a>
      <a class="dropdown-item" data-user="profile" href="#profile">Profile</a>
      <a class="dropdown-item" data-user="logout" href="#logout">Log Out</a>
    </div>
  </li>
</ul>