<div class="container">
  <form id="task-form">
    <fieldset>

      <div class="form-group my-3">
        <input type="text" name="title" class="form-control" placeholder="Task Title" id="task-title">
      </div>
      <br>

      <div class="form-group">
        <textarea class="form-control" name="desc" id="task-desc" placeholder="Task Description"" placeholder=" Task
          Description" rows="3"></textarea>
      </div>

      <div id="task-assignment"></div>

    </fieldset>

    <button type="submit" class="btn btn-primary my-4" data-crud="update">Save</button>
    <button type="reset" class="btn btn-danger my-4" data-crud="delete">Delete</button>
    <button type="button" class="btn btn-secondary my-4" data-crud="cancel">Close</button>

  </form>
</div>